body{
    margin: 0%;
    font-family: 'Rubik',sans-serif;
    background: #111;
}

*{
    box-sizing: border-box;
}

h1,h3{
    font-weight: 400;
}

.weather-app{
    min-height: 100vh;
    background-image: url(./img/day/cloudy.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weather-app::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em ;
}

.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather{
    margin: 0 1em;
}

.city-time h1{
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 2em;
}

.temp{
    font-size: 7em;
    margin: 0;
}

.weather img{
    display: block;
    margin: 0.5em 0;
}

.panel{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background: rgba(110,110,110, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 
    1px solid
     rgba(225,225,255, 0.18);
     z-index: 1;
     padding: 3em 2em;
     overflow-y: scroll;
}

.panel form{
    margin-bottom: 3em;
}

.submit{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    border: none;
    outline: none;
    background: #fa6d1b;
    color: #fff;
}

.submit:hover{
    background: #fff !important;
    color: #000;
}

.search{
    border: none;
    background: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    font-size: 1.1em;
    color: #fff;
}

.search:focus{
    outline: none;
}

.search::placeholder{
    color: #ccc;
}

.panel ul{
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li{
    color: #ccc;
    margin: 2.5em 0;
}

.panel h4{
    margin: 3em 0;
}

.city{
    display: block;
    cursor: pointer;
}

.city:hover{
    color: #fff;
}

.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:800px){
    .panel, .container{
        position: relative;
        width: 100%;
        top:initial;
    }
}

@media screen and (max-width:500px){
    html {
        font-size: 12px;
    }
}

@media screen and (max-height:300px){
    .weather-app{
        min-height: 40em;
        
    }
}

.brand{
    font-size: 20;
    font-weight: 500;
}
